                            /*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
                            
                            @font-face {
                                font-family: 'PacificNorthwestRoughLetters';
                                src: url('../fonts/webfonts/342E1B_0_0.eot');
                                src: url('../fonts/webfonts/342E1B_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/342E1B_0_0.woff2') format('woff2'), url('../fonts/webfonts/342E1B_0_0.eot') format('woff'), url('../fonts/webfonts/342E1B_0_0.ttf') format('truetype');
                            }
                            
                            @font-face {
                                font-family: 'PacificNorthwestLetters-Regular';
                                src: url('../fonts/webfonts/342E1B_1_0.eot');
                                src: url('../fonts/webfonts/342E1B_1_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/342E1B_1_0.woff2') format('woff2'), url('../fonts/webfonts/342E1B_1_0.woff') format('woff'), url('../fonts/webfonts/342E1B_1_0.ttf') format('truetype');
                            }
                            
                            @font-face {
                                font-family: 'TrueNorthRoughBlack-Regular';
                                src: url('../fonts/webfonts/342E1B_2_0.eot');
                                src: url('../fonts/webfonts/342E1B_2_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/342E1B_2_0.woff2') format('woff2'), url('../fonts/webfonts/342E1B_2_0.woff') format('woff'), url('../fonts/webfonts/342E1B_2_0.ttf') format('truetype');
                            }
                            
                            @font-face {
                                font-family: 'TrueNorthInline-Regular';
                                src: url('../fonts/webfonts/342E1B_3_0.eot');
                                src: url('../fonts/webfonts/342E1B_3_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/342E1B_3_0.woff2') format('woff2'), url('../fonts/webfonts/342E1B_3_0.woff') format('woff'), url('../fonts/webfonts/342E1B_3_0.ttf') format('truetype');
                            }
                            
                            @font-face {
                                font-family: 'TrueNorthExtras-Regular';
                                src: url('../fonts/webfonts/342E1B_4_0.eot');
                                src: url('../fonts/webfonts/342E1B_4_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/342E1B_4_0.woff2') format('woff2'), url('../fonts/webfonts/342E1B_4_0.woff') format('woff'), url('../fonts/webfonts/342E1B_4_0.ttf') format('truetype');
                            }
                            
                            @font-face {
                                font-family: 'TrueNorth-Regular';
                                src: url('../fonts/webfonts/342E1B_5_0.eot');
                                src: url('../fonts/webfonts/342E1B_5_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/342E1B_5_0.woff2') format('woff2'), url('../fonts/webfonts/342E1B_5_0.woff') format('woff'), url('../fonts/webfonts/342E1B_5_0.ttf') format('truetype');
                            }
                            
                            @font-face {
                                font-family: 'LocalMarket-Regular';
                                src: url('../fonts/webfonts/342E1B_6_0.eot');
                                src: url('../fonts/webfonts/342E1B_6_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/342E1B_6_0.woff2') format('woff2'), url('../fonts/webfonts/342E1B_6_0.woff') format('woff'), url('../fonts/webfonts/342E1B_6_0.ttf') format('truetype');
                            }
                            
                            @font-face {
                                font-family: 'LocalMarketExtras-Regular';
                                src: url('../fonts/webfonts/342E1B_7_0.eot');
                                src: url('../fonts/webfonts/342E1B_7_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/342E1B_7_0.woff2') format('woff2'), url('../fonts/webfonts/342E1B_7_0.woff') format('woff'), url('../fonts/webfonts/342E1B_7_0.ttf') format('truetype');
                            }
                            
                            @font-face {
                                font-family: 'LocalMarketScript-Regular';
                                src: url('../fonts/webfonts/342E1B_8_0.eot');
                                src: url('../fonts/webfonts/342E1B_8_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/342E1B_8_0.woff2') format('woff2'), url('../fonts/webfonts/342E1B_8_0.woff') format('woff'), url('../fonts/webfonts/342E1B_8_0.ttf') format('truetype');
                            }
                            
                            @font-face {
                                font-family: 'WanderlustLettersExtras-Regular';
                                src: url('../fonts/webfonts/342E1B_9_0.eot');
                                src: url('../fonts/webfonts/342E1B_9_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/342E1B_9_0.woff2') format('woff2'), url('../fonts/webfonts/342E1B_9_0.woff') format('woff'), url('../fonts/webfonts/342E1B_9_0.ttf') format('truetype');
                            }
                            
                            @font-face {
                                font-family: 'WanderlustLetters-Regular';
                                src: url('../fonts/webfonts/342E1B_A_0.eot');
                                src: url('../fonts/webfonts/342E1B_A_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/342E1B_A_0.woff2') format('woff2'), url('../fonts/webfonts/342E1B_A_0.woff') format('woff'), url('../fonts/webfonts/342E1B_A_0.ttf') format('truetype');
                            }
                            
                            @font-face {
                                font-family: 'MulberryScript-Ornaments';
                                src: url('../fonts/webfonts/342E1B_B_0.eot');
                                src: url('../fonts/webfonts/342E1B_B_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/342E1B_B_0.woff2') format('woff2'), url('../fonts/webfonts/342E1B_B_0.woff') format('woff'), url('../fonts/webfonts/342E1B_B_0.ttf') format('truetype');
                            }
                            
                            @font-face {
                                font-family: 'MulberryScript-Regular';
                                src: url('../fonts/webfonts/342E1B_C_0.eot');
                                src: url('../fonts/webfonts/342E1B_C_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/342E1B_C_0.woff2') format('woff2'), url('../fonts/webfonts/342E1B_C_0.woff') format('woff'), url('../fonts/webfonts/342E1B_C_0.ttf') format('truetype');
                            }
                            
                            @font-face {
                                font-family: 'TrueNorth-Script';
                                src: url('../fonts/webfonts/342E1B_D_0.eot');
                                src: url('../fonts/webfonts/342E1B_D_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/342E1B_D_0.woff2') format('woff2'), url('../fonts/webfonts/342E1B_D_0.woff') format('woff'), url('../fonts/webfonts/342E1B_D_0.ttf') format('truetype');
                            }
                            
                            @font-face {
                                font-family: 'LocalBreweryTwo-Regular';
                                src: url('../fonts/webfonts/342E1B_E_0.eot');
                                src: url('../fonts/webfonts/342E1B_E_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/342E1B_E_0.woff2') format('woff2'), url('../fonts/webfonts/342E1B_E_0.woff') format('woff'), url('../fonts/webfonts/342E1B_E_0.ttf') format('truetype');
                            }
                            
                            @font-face {
                                font-family: 'LocalBreweryFour-Regular';
                                src: url('../fonts/webfonts/342E1B_F_0.eot');
                                src: url('../fonts/webfonts/342E1B_F_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/342E1B_F_0.woff2') format('woff2'), url('../fonts/webfonts/342E1B_F_0.woff') format('woff'), url('../fonts/webfonts/342E1B_F_0.ttf') format('truetype');
                            }
                            
                            @font-face {
                                font-family: 'GardenGrown-Regular';
                                src: url('../fonts/webfonts/342E1B_10_0.eot');
                                src: url('../fonts/webfonts/342E1B_10_0.eot?#iefix') format('embedded-opentype'), url('../fonts/webfonts/342E1B_10_0.woff2') format('woff2'), url('../fonts/webfonts/342E1B_10_0.woff') format('woff'), url('../fonts/webfonts/342E1B_10_0.ttf') format('truetype');
                            }
                            
                            @font-face {
                                font-family: "Futura Light";
                                src: url('../fonts/futura-std-light.otf');
                                font-style: normal;
                            }
                            
                            @font-face {
                                font-family: "Futura Book";
                                src: url('../fonts/futura-std-book.otf');
                                font-style: normal;
                            }
                            
                            @font-face {
                                font-family: 'Futura Std Medium';
                                src: url('../fonts/futura/FuturaStd-Medium.woff');
                                font-style: normal;
                            }
                            
                            .text-center {
                                text-align: center;
                            }
                            
                            #wrapper {
                                min-width: 320px;
                                height: 100%;
                                font-size: 11pt;
                                font-family: 'Futura Std Medium', 'arial', sans-serif;
                                color: #1d1d1b;
                                background: url('../img/body_bg.jpg') no-repeat center center / cover fixed #fff;
                            }
                            
                            .container {
                                background: #ffffff;
                            }
                            
                            #recapitulatif span.input-group-btn-vertical {
                                display: none;
                            }
                            
                            .badge {
                                border-radius: 0px!important;
                            }
                            
                            div.zabuto_calendar .badge-event,
                            div.zabuto_calendar div.legend span.badge-event {
                                background: #0099cb!important;
                                font-size: 1.5em!important;
                            }
                            
                            body {
                                /* background:url('https://ventsetmarees.unet.dev/modules/appvmshop/assets/img/body_bg.jpg'); */
                            }
                            
                            .logo {
                                margin: auto;
                            }
                            
                            .main-element {
                                /* background-color:#ffffff; */
                            }
                            
                            h1,
                            h2,
                            h3,
                            h4,
                            h5,
                            h6,
                            .h1,
                            .h2,
                            .h3,
                            .h4,
                            .h5,
                            .h6 {
                                font-family: 'LocalBreweryFour-Regular';
                                font-weight: 500;
                                line-height: 1.1;
                            }
                            
                            .filter-menu {
                                font-family: 'LocalBreweryFour-Regular';
                                font-weight: 500;
                                line-height: 1.1;
                            }
                            
                            .text-primary {
                                color: #0099cb;
                            }
                            
                            a {
                                color: #0099cb;
                            }
                            
                            body {
                                font-family: 'Futura Std Medium', 'arial', sans-serif;
                            }
                            
                            #header .header-top a[data-depth="0"] {
                                font-size: 18pt;
                                color: #0099cb;
                                display: block;
                                padding: 6px 10px 15px 10px;
                            }
                            
                            #header .header-top a[data-depth="0"] {
                                text-transform: uppercase;
                                font-family: 'LocalBreweryFour-Regular';
                            }
                            
                            ul#top-menu {
                                text-align: center;
                            }
                            
                            nav.header-nav,
                            nav.header-nav .container {
                                background-color: #000000;
                                color: #ffffff!important;
                            }
                            
                            nav.header-nav a {
                                color: #ffffff!important;
                            }
                            
                            .product-pack {
                                display: none;
                            }
                            
                            #checkout nav.header-nav,
                            #checkout nav.header-nav .container {
                                background-color: #ffffff;
                                color: #ffffff!important;
                            }
                            
                            div#cart-subtotal-shipping {
                                display: none;
                            }
                            
                            .current-price {
                                font-size: 2em;
                            }
                            
                            div#js-product-list-header {
                                display: none;
                            }
                            
                            .footer-container .nav li {
                                font-size: 12px!important;
                            }
                            
                            .footer-container li a {
                                color: black;
                                cursor: pointer;
                                font-size: 12px;
                            }
                            
                            .footer-number {
                                background-color: #61acd1 !important;
                                border-top-left-radius: 10px;
                                padding-top: 20px;
                                padding-bottom: 20px;
                                float: right;
                            }
                            
                            .page-cms .row {
                                margin-bottom: 2em;
                            }
                            
                            .contact-rich {
                                display: none;
                            }
                            
                            .page-contact .col-md-9 {
                                width: 100%!important;
                            }
                            
                            .order-options {
                                display: none;
                            }
                            a#order-slips-link {
                                display:none!important;
                            }

                            section.order-message-form.box {
                                display: none;
                            }
                            
                            @media (max-width: 767px) {
                                nav.header-nav,
                                nav.header-nav .container {
                                    background-color: #fff!important;
                                }
                                .pts-container-wrap {
                                    margin: auto!important;
                                }
                                .col-xs-12,
                                .col-xs-6 {
                                    margin-top: 15px;
                                }
                                .image-item img {
                                    width: 100%;
                                }
                                #header .header-nav .user-info .logged {
                                    color: #000;
                                }
                                .user-info a i {
                                    color: #000!important;
                                }
                            }